.navbar {
    background: #008080;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#nav-item  {
    padding-left: 10px;
}



.justify-content-center1{
    margin-top: 7%;
    margin-left: 10%;
}
#sidebar {     min-width: 240px;     max-width: 240px;     background:
#008080;     color: #fff;     transition: all 0.3s;     position: fixed;
height: 100%; }

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0000A4;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    color: white;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a {
    color: #fff;
    background: #4a69bd;
}

.login-panel{
 margin-top: 25%;
}